{% extends 'base.html.twig' %}

{% block body %}
    <h1> Se connecter </h1>

    <form method="post" class="p-3 mb-2" style="border:solid black 1px;border-radius:5px;">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que : {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>
        {% endif %}

        <div class="row d-flex justify-content-center m-3">
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        </div>
        <div class="row d-flex justify-content-center m-3">
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </div>
        <div class="row d-flex justify-content-center m-3">
            <button class="btn btn-lg btn-success" type="submit">
                Se connecter
            </button>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
{% endblock %}