{% extends "base.html.twig" %}
{% block body %}

    <h1> Créer un étudiant </h1>

    <form action="{{ path('admin.etudiants.createSubmit') }}" method="post">
        <div class="p-3 mb-2 bg-light" style="border-radius:5px;">
            <div class="row d-flex justify-content-center m-3" style="margin-top:20px;">
                <div class="col d-flex flex-column m-1">
                    <label for="ine">INE</label>
                    <input type="text" name="ine" required>
                </div>
                <div class="col d-flex flex-column m-1">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" required>
                </div>
            </div>
            <div class="row d-flex justify-content-center m-3" style="margin-top:20px;">
                <div class="col d-flex flex-column m-1">
                    <label for="prenomEtudiant">Prénom</label>
                    <input type="text" name="prenomEtudiant" required>
                </div>
                <div class="col d-flex flex-column m-1">
                    <label for="nomEtudiant">Nom</label>
                    <input type="text" name="nomEtudiant" required>
                </div>
            </div>
            <div class="row d-flex justify-content-center m-3" style="margin-top:20px;">
                <div class="col d-flex flex-column m-1">
                    <label for="emailEtudiant">Email</label>
                    <input type="email" name="emailEtudiant" required>
                </div>
                <div class="col d-flex flex-column m-1">
                    <label for="dateNaissanceEtudiant">Date de naissance</label>
                    <input type="date" value="01-01-1000" name="dateNaissanceEtudiant" required>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center m-3" style="margin-top:20px;">
            <h3>Veuillez selectionner les groupes dont cet étudiant fait partie</h3>
            <input type="hidden" name="nbGroupes" value="{{ groupes|length }}">
            <table class="table">
                <thead class="table-dark">
                <td>Nom</td>
                <td>Ajouter</td>
                </thead>
                <tbody>
                {% for groupe in groupes %}
                    <tr class="bg-light">
                        <td><input type="hidden" name="{{ 'idGroupe' ~ loop.index0 }}" value="{{ groupe.id }}"> {{ groupe.nomGroupe }}</td>
                        <td><input type="checkbox" name="{{ 'groupe' ~ loop.index0 }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row d-flex justify-content-center m-3">
            <button type="submit" class="btn btn-success m-1">Créer</button>
        </div>
    </form>

{% endblock %}